*.exe
*.exp
*.pdb
*.obj
*.json
*.ilk
*.lib
*.pdf
*.png
*.10x
*.sublime-project
*.sublime-workspace
*.rdbg
backup.*
bld
imgui.ini

__pycache__/
venv/
build/
vendor/
assets/
krzlinks/
misc/
generated/
html/
backup/
notes/
odin/
prototyping/
text_editor/